In [7]:
import numpy as np
import pandas as pd

In [3]:
np.arange(1,16).reshape(3,5)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [5]:
np.arange(1,5)

array([1, 2, 3, 4])

In [9]:
df = pd.DataFrame(np.arange(1,16).reshape(3,5))

In [10]:
df.dtypes

0    int64
1    int64
2    int64
3    int64
4    int64
dtype: object

In [12]:
df.describe()

          0     1     2     3     4
count   3.0   3.0   3.0   3.0   3.0
mean    6.0   7.0   8.0   9.0  10.0
std     5.0   5.0   5.0   5.0   5.0
min     1.0   2.0   3.0   4.0   5.0
25%     3.5   4.5   5.5   6.5   7.5
50%     6.0   7.0   8.0   9.0  10.0
75%     8.5   9.5  10.5  11.5  12.5
max    11.0  12.0  13.0  14.0  15.0

In [13]:
df

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15

In [16]:
df[[0,2]]

    0   2
0   1   3
1   6   8
2  11  13

In [24]:
df.iloc[[0,1]]

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [25]:
df.iloc[[0,1],[0,1]]

   0  1
0  1  2
1  6  7

In [31]:
df.iloc[1:3,:]

    0   1   2   3   4
1   6   7   8   9  10
2  11  12  13  14  15

In [35]:
df[[0,1,4]]

    0   1   4
0   1   2   5
1   6   7  10
2  11  12  15